# ── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://postgres:1234@localhost:5432/iiot_db

# ── JWT ───────────────────────────────────────────────────────────────────────
SECRET_KEY=5c0cd9db349a718e534421dac17de304dd926adc120565c482e1a6ad41b1ce37

# ── Stripe ────────────────────────────────────────────────────────────────────
STRIPE_SECRET_KEY=sk_test_YOUR_KEY_HERE
STRIPE_WEBHOOK_SECRET=whsec_YOUR_WEBHOOK_SECRET_HERE
HF_TOKEN=your_huggingface_token_here
